
@model IEnumerable<DapperMVCCRUD.Models.ProductModel>

@{
    ViewBag.Title = "Index";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New Product", "AddOrEdit","Product")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewByID", new { id=item.ProductId})
                @Html.ActionLink("Edit", "AddOrEdit", new { id=item.ProductId})
                @Html.ActionLink("Delete", "DeleteById", new {id=item.ProductId})
            </td>
        </tr>
    }
</table>
